.sidebar {
  width: 260px;
  height: 100%;
  background: #07101d;
  padding: 25px 20px;
}


.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #cfd7e3;
  padding: 10px 12px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.2s;
  font-size: 14px;
}

.nav-item:hover {
  background: #FA9F38;
  color: #fff;
}

.nav-item.active {
  background: #1fb4e4;
  color: #fff;
  font-weight: 600;
}

.nav-item.active svg {
  stroke: white;
}
.nav-icon {
  width: 20px;
  height: 20px;
}