.sidebar {
  width: 220px;
  background: #1e1e1e;
  color: rgb(248, 247, 247);
  padding: 20px;
  min-height: 100vh;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: white;
  text-decoration: none;
}
.text-gradient {
  background: linear-gradient(90deg, #2EC2E3 0%, #FFEA48 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}