.topbar {
  height: 70px;
  background: #132032;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  color: #cfd7e3;
  flex-shrink: 0; /* impede esmagamento */
}


.left {
  display: flex;
  align-items: center;
  gap: 15px;

}

.topbar-logo {
  width: 50px;
}

.brand {
  font-size: 22px;
  font-weight: 700;
  color: #dbe773;
}

.right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.topbar-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.topbar-icon:hover {
  background: #FA9F38;
  color: #FFF;
   border-radius: 8px;
   padding:1px 1px;
   transition: 0.2s;
}

.signout {
  font-size: 14px;
}
